@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Teachers</h2>

<div class="row flex mt-5">
    <div class="col-12 mt-1">
        <div class="mt-5 mb-4">
            @Html.ActionLink("Add New Teacher", // <-- Link text
           "UpsertTeacher", // <-- Action Method Name
           null, // <-- Action payload
           new { @class = "btn btn-success btn-lg" } // <-- htmlArguments
           )
        </div>
        <br />
        <div id="table">
            <table id="tblData" class="table table-bordered mt-5">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>

                        <th>
                            Email
                        </th>

                        <th>
                            Phone Number
                        </th>

                        <th>
                            Department
                        </th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var dataTable;

        $(document).ready(function () {
            loadDataTable();
        });

        function loadDataTable() {
            dataTable = $('#tblData').DataTable({
                "ajax": {
                    "url": "/Teacher/GetTeachers"
                },
                "columns": [
                    { "data": "Name", "width": "15%" },
                    { "data": "Email", "width": "15%" },
                    { "data": "PhoneNumber", "width": "15%" },
                    { "data": "Department.Name", "width": "15%" },
                    {
                        "data": "Id",
                        "render": function (data) {
                            return `
                                <div class="text-center">
                                    <a href="/Teacher/UpsertTeacher/?id=${data}" class="btn btn-success text-white" style="cursor:pointer">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a onclick=DeleteTeacher(${data}) class="btn btn-danger text-white" style="cursor:pointer">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                               `;
                        }, "width": "40%"
                    }
                ]
            });
        }

        function DeleteTeacher(id) {
            swal({
                title: "Are you sure you want to delete teacher",
                text: "You can't retrive data after deleted",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "DELETE",
                        url: `/Teacher/DeleteTeacher/?id=${id}`,
                        success: function (data) {
                            if (data.success) {
                                toastr.success(data.message);
                                dataTable.ajax.reload();
                            } else {
                                toastr.error(data.message);
                            }
                        }
                    });
                }
            });
        }
    </script>
}