@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" style="margin-top:100px;">
    <h2 style="letter-spacing:3px;">University Registeration System</h2>
    <br /><br />
    <p class="lead" style="letter-spacing:2px;">University Registeration System is a test website thats show how  registering courses in universities done .</p>
</div>
